* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: max-content;
  height: 100%;
}

main {
  width: 100%;
  max-width: 100%;
  margin: 0%;
  height: 100%;
}

section {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

article {
  width: 100%;
  height: 30%;
}

.back-img {
  position: absolute;
  top: 15%;
  z-index: -2;
  width: 100%;
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.back-gradiant {
  position: absolute;
  top: 15%;
  z-index: -1;
  width: 100%;
  height: 570px;
  background-color: rgba(130, 9, 51, 0.55);
}

.place-view {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  height: 40%;
}

.infos-content {
  width: 70%;
  height: 30%;
  color: white;
}

.title-name {
  width: 100%;
  height: 30%;
  font-family: "Tangerine-Regular";
  font-size: 5vh;
}

.infos-import {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  font-family: "Tangerine-Regular";
  font-size: 2.5vh;
}

.btn-content {
  display: flex;
  align-items: center;
  width: 80%;
  height: 20%;
}

.group-btn {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
}

.btn-view {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 1%;
  border: rgb(130, 9, 51) 1px solid;
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  margin-right: 3%;
  color: white;
}

.btn-view:hover {
  transform: scale(1.1, 1.1) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.btn-view img {
  width: 70%;
  height: 70%;
}

.tagline-content {
  width: 72%;
  height: 15%;
  color: rgba(255, 255, 255, 0.822);
  text-decoration: underline;
}

.synopsis-content {
  width: 70%;
  height: 30%;
  color: white;
}

.selectionongletview {
  width: 100%;
  min-height: 20%;
  background-color: rgba(255, 255, 255, 0.329);
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cacaca;
  cursor: pointer;
}

article:first-child {
  border-top: none;
}

.box_card {
  width: 100%;
  height: max-content;
  min-height: max-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5vh 0%;
}

.carousel {
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.carousel-cell {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 18%;
  padding: 2vh 2vh;
}

.view_card {
  height: 100%;
  width: 100%;
  background-color: #363845b2;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 10px rgb(81 81 81 / 7%);
}

.view_card a:hover {
  transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  border: aliceblue 3px solid;
}

.view_card a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
}

.view_card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.view_card_bonus:hover {
  transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  border: aliceblue 3px solid;
}

.view_card_bonus {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  border: none;
  cursor: pointer;
}

.view_card_bonus img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.detailview {
  display: none;
}

.box_sande {
  width: 100%;
  height: max-content;
  min-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5vh 0%;
}

.bloc_saison {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bloc_saison h4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.box_episode {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-view-ep {
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 1% 1% 0%;
  border-radius: 3px;
}

.btn-view-ep input {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.137);
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 69%) 0px -1px 30px -10px, rgb(0 0 0 / 73%) 0px 20px 10px -10px;
  transform: scale(1, 1) translateZ(0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  -webkit-font-smoothing: subpixel-antialiased;
}

.btn-view-ep input:hover {
  transform: scale(1.05, 1.05) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  border: aliceblue 3px solid;
  width: 200px;
  height: 70px;
}

.bloc_view {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.342);
}

.exitview {
  position: absolute;
  top: 1%;
  right: 0.5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: max-content;
}

.btn-exitview {
  width: 40px;
  height: 40px;
  background: rgb(255 255 255);
  background: linear-gradient(90deg, rgb(226 69 124) 0%, rgb(126 77 166) 50%, rgb(36 83 197) 100%);
  border-radius: 10px;
  border: white 1px solid;
  cursor: pointer;
}

.btn-exitview img {
  width: 100%;
  height: 100%;
}

.view_content {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.view_content iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 2px solid white;
  background-color: rgba(128, 128, 128, 0.589);
}

/* Desktops and laptops */

@media only screen and (min-width: 1366px)and (max-width: 1920px) {}

/* Old Desktops and laptops */

@media only screen and (min-width: 1224px)and (max-width: 1366px) {}

/* iPads (landscape) */

@media only screen and (min-width: 1000px) and (max-width: 1223px) {}

@media only screen and (min-width: 768px) and (max-width: 999px) {}

@media only screen and (min-width: 768px) and (max-width: 1223px) {}

/* Pixel2 (landscape) */
@media only screen and (min-width: 375px) and (max-width: 767px) {}

/* iPhone X (landscape) */
@media only screen and (min-width: 374px) and (max-width: 377px) {}

/* Smartphones (landscape) */
@media only screen and (min-width: 321px) and (max-width: 373px) {}

/* iPhone 5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {}

/* --- */
@media screen and (max-width: 319px) {}


@font-face {
  font-family: "Tangerine-Regular";
  src: url("../font/Tangerine-Regular.ttf");
}