* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  padding-top: 15vh;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.back-text-container {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(130, 9, 51);
}

.back-title-wall {
  width: 80%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-planning {
  width: 80%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-title-wall {
  transform: translateX(0px);
  animation: slide-title-up 800ms ease-out 0s;
}

.mytitlewall {
  font-family: "Tangerine-Regular";
  padding: 6vh 0vh 2vh 0vh;
}

.lign-color {
  width: 40%;
  height: 0.5vh;
  margin: 1vh 2vh;
  background-color: rgb(130, 9, 51);
}

.lign-color2 {
  width: 80%;
  height: 0.2vh;
  margin: 1vh 2vh;
  background-color: rgb(130, 9, 51);
}

@keyframes slide-title-up {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.container-planning {
  transform: translateX(0px);
  animation: slide-text-up 800ms ease-out 0s;
}

@keyframes slide-text-up {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }

  90% {
    opacity: 0;
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hint {
  position: absolute;
  bottom: 2vw;
  margin: 0 auto;
  cursor: pointer;
  padding: 6px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  opacity: .65;
  -webkit-animation: bounce 1.75s infinite;
  animation: bounce 1.75s infinite;
  font-size: 0;
  left: 5.6vw;
  margin-left: -14px;
}

@media only screen and (min-width: 1025px) {
  .hint {
    left: auto;
    right: 5.6vw;
    margin-right: -14px;
  }
}

.hint .down {
  fill: #f9f9f9;
  pointer-events: none;
  transform: scale(1);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.hint:hover .down {
  transform: scale(1.2, 1.2) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.plusart {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 0% 5% 0%;
  border: 1px solid rgb(130, 9, 51);
}

.plusart p {
  color: rgb(130, 9, 51);
  transform: scale(1);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  cursor: pointer;
  font-family: "Tangerine-Regular";
  font-size: 4vh;
}

.plusart p:hover {
  transform: scale(1.2, 1.2) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.boxday {
  display: flex;
  flex-direction: column;
  padding: 1vh;
}

.btn-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 8vh;
  width: 24vh;
  padding: 1vh;
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 15px;
  transform: scale(1);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  font-family: "Tangerine-Regular";
  font-weight: bold;
  font-size: 2.5vh;
  overflow: hidden;
}

.dispo {
  border: rgb(130, 9, 51) 1px solid;
  color: rgb(130, 9, 51);
  cursor: pointer;
}


.indispo {
  border: grey 1px solid;
  color: grey;
  cursor: not-allowed;
}

.btn-view:hover {
  transform: scale(1.1, 1.1) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.text-btnindipo {
  font-size: 1.5vh;
  overflow: hidden;
}

@font-face {
  font-family: "Tangerine-Regular";
  src: url("../font/Tangerine-Regular.ttf");
}